<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-16 *ngIf="wins == 0 && maxWins == 0">
        先選一個數字開始，再和其他數字組合，四張牌都要用到，最後要湊出{{target}}
      </ion-col>
      <ion-col col-16 *ngIf="wins > 0 || maxWins > 0">
        連勝: {{wins}}連勝! 最高記錄: {{maxWins}}連勝
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-16>
        <ion-button size="large" *ngIf="!isWin()" color="primary" (click) = "makecard()" [ngClass]="{'good' : win}">目前數字: {{ myNum }}</ion-button>
        <ion-label class="huge" size="large" color="primary" *ngIf="isWin()">你勝利了!</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class = "card" *ngFor="let item of cards; let idx = index" [hidden] = "item == 0">
        <ion-col col-16 [hidden] = "myNum != 0" >
          <a (click) = "myNum = item; use(idx)">{{item}}</a>
        </ion-col>       
          <ion-col col-4 class = "click" (click) = "count('+', item, idx)" [hidden] = "myNum == 0">
            <ion-label class="large" color="primary">+{{item}}</ion-label>
          </ion-col>
          <ion-col col-4 class = "click" (click) = "count(
          '-', item, idx)" [hidden] = "myNum == 0">
            <ion-label class="large" color="secondary">-{{item}}</ion-label>
          </ion-col>
          <ion-col col-4 class = "click" (click) = "count(
          '*', item, idx)" [hidden] = "myNum == 0">
            <ion-label class="large" color="primary">×{{item}}</ion-label>
          </ion-col>
          <ion-col col-4 class = "click" (click) = "count(
          '/', item, idx)" [hidden] = "myNum == 0">
            <ion-label class="large" color="secondary">÷{{item}}</ion-label>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="big">
        <ion-button size="large" color="primary" (click) = "reset()">再來！</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
