ion-col {
	text-align: center;
	&.big {
		font-size: 3em;
	}
	&.card {
		font-size: 3em;
		border: 3px solid black;
		border-radius: 15px;
		min-height: 33vh;
		background-color: #fcc; 
	}
	display: flex!important;
	align-content: center!important;
	align-items: center!important;
	justify-content: center!important;
}

a, .click {
	cursor: pointer;
}

.good {
	background-color: #fcc;
	padding: .25em;
}