.big {
	font-size: 3em;
}

.card {
	font-size: 3em;
	text-align: center;
	width: 90vw;
	border-radius: 15px;
	height: 10vh;
	box-shadow: #999 1px 1px 1px 1px;
}

.card:nth-child(3) {
	background-color: #cfc;
}

.card:nth-child(4) {
	background-color: #ccf;
}

.card:nth-child(5) {
	background-color: #fcc;
}

.card:nth-child(6) {
	background-color: #ff9;
}

ion-col {
	display: flex!important;
	align-content: center!important;
	align-items: center!important;
	justify-content: center!important;
	min-height: 1em !important;
}

ion-row {
	margin: 0.3em 0;
}

a, .click {
	cursor: pointer;
}

a, button {
	min-width: 5em;
}

.good {
	background-color: #fcc;
	padding: .25em;
}

.large {
	font-size: 0.618em;
}

.huge {
	font-size: 3em;	
}

.blue {
	color: #00c;
}

[hidden] {
	display: none !important;
}